<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authors</title>
</head>
<body>

    <h1>{{authors.first_name}} {{authors.last_name}}</h1>
    <p>ID: {{authors.id}}</p>
    <p>notes: {{authors.notes}}</p>

    <p>Books:</p>
    <ul>
        {% for Book in authors.books.all %}
        <li>{{Book.title}}</li>
        {% endfor %}
    </ul>
    <form action="/author/book/{{authors.id}}" method="post">
        {% csrf_token %}
        <select id="Book" name="Book">
        {% for Book in books %}
            <option value="{{Book.id}}">{{Book.title}}</option>
        {% endfor %}
        </select>
        <input type="submit" value="Add">
    </form>
    <a href="/">HOME</a>
</body>
</html>